{% extends "bootstrap/base.html" %}
{% block title %}
Acme Inc.
{% endblock %}

{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Acme Inc.</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid" style="margin-top:50px">
  <h1 id="heading">Upload CSV</h1>

<form method="POST" action="/" enctype="multipart/form-data">
  <div class="custom-file">
    <input class="custom-file-input" id="fileInput" type='file' name='inputFile' accept=".csv" >
  </div>
  <div class="input-group-append" style="margin-top: 16px;">
    <button id="uploadButton" type="submit" class="btn btn-outline-secondary">Upload</button>
  </div>
</form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}